body {
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
}

.header {
	font-family: 'Balthazar', serif;
	font-size: 40px;
	text-decoration: none;
	color: black;
}

nav {
	position: absolute;
	top: 10px;
	width: 25%;
	left: 400px;

	
	
}

.navbar {
	display: flex;
	justify-content: space-around;
	text-align: center;
}


.navbar a {

	padding: 10px 10px;
	color: black;
	text-decoration: none;	
}

.navbar a:hover{
	color: grey;
}




.inscrire{
	position: absolute;
	top: 15px;
	right: 220px;
  	width: 150px;
  	height: 30px;
  	text-align: center;
  	font-family: 'Lato', sans-serif;
  	font-size: 12px;
  	background-color: whitesmoke;
  	border: 0.5px solid black;
  }

  .inscrire a {
  	text-decoration: none;
  	color: black;
  }

.account{
	position: absolute;
	top: 15px;
	right: 20px;
  	width: 150px;
  	height: 30px;
  	text-align: center;
  	font-family: 'Lato', sans-serif;
  	font-size: 12px;
  	background-color: black;
  	border: 0.5px solid black;
  }

  .account a {
  	text-decoration: none;
  	color: white;
  }

.slide1 {
	position: absolute;
	width: 850px;
	height: 725px;
	top: 50px;
	left: 0px;
}

.logo{
	position: absolute;
	width: 400px;
	height: 300px;
	right: 300px;
	top: -10px;
}

.titre {
	position: absolute;
	right: 180px;
	top: 80px;
	font-family: 'Balthazar', serif;

}

.barrestyle {

	margin-top: 80px; 
	width: 175px; 
 	border: 0.5px solid black;
  	position: absolute;
  	color: black;
  	right: 200px;
  
}

.presentation{

	position: relative;
	text-align: justify;
	font-family: 'Lato', sans-serif;
	display: block;
	margin-left: 900px;
	margin-right: 50px;
	margin-top: 165px;
}


.rdv{
	position: absolute;
	top: 650px;
	right: 300px;
  	width: 175px;
  	height: 50px;
  	text-align: center;
  	font-family: 'Lato', sans-serif;
  	font-size: 12px;
  	background-color: black;
  	border: 0.5px solid black;
  }

  .rdv a {
  	text-decoration: none;
  	color: white;
  }

  .discover{
	position: absolute;
	top: 650px;
	right: 90px;
  	width: 175px;
  	height: 50px;
  	text-align: center;
  	font-family: 'Lato', sans-serif;  	
  	font-size: 12px;
  	background-color: whitesmoke;
  	border: 0.5px solid black;
  }

  .discover a {
  	text-decoration: none;
  	color: black;
  }

  h2 {
  	position: absolute;
  	font-family: 'Lato', sans-serif;
  	bottom: -70px;
  	text-align: center;
  	left: 600px;

  	}
  .barrestyle2 {

	bottom: -60px; 
	width: 175px; 
 	border: 1px solid black;
  	position: absolute;
  	color: black;
  	left: 625px;
  
}

.contact
{
	width: 600px;
	height: 500px;
	margin-top: 300px;
	margin-left: 40px;
}

.rdv2{
	position: absolute;
	bottom: -550px;
	left: 250px;
  	width: 175px;
  	height: 50px;
  	text-align: center;
  	font-family: 'Lato', sans-serif;  	
  	font-size: 12px;
  	background-color: whitesmoke;
  	border: 0.5px solid black;
  }

.rdv2 a {
  	text-decoration: none;
  	color: black;
  }


footer{
	position: absolute;
	width: 100%;
	height: 350px;
	left: 0px;
	margin-top: 50px;
	background-color: black;
	color: white;
	font-family: lato;
	text-align: left;

}


.footermain {
	display: flex;
	margin-left: 10px;

}

footer .partfooter {

	padding: 30px 100px;

}
footer ul {
	list-style-type: none;
	margin-left: -35px;
	font-size: 12px;

}
.copyright{
	position: absolute;
	bottom: -975px;
	color: white;
	font-size: 10px;
	font-family: lato;
}
